{% extends "layoutpadrao.njk" %}

{% block styles %}
        <title>Apresentação</title>
        <link rel="stylesheet" href="home.css">
        <script type="text/javascript" src="/scripts/script.js"> </script>
{% endblock %}

{% block content %}
<div id= "user">
    <img src= "{{userdata.img}}" alt="Imagem de {{userdata.name}}">
    <h1>{{userdata.name}}</h1>
    <h2>{{userdata.title}}</h2>
</div>

<div id="content">
    <div id= "presentation">
    
        <h3>Apresentação</h3>
        <p>{{userdata.presentation}}</p>
    </div> 
    <div id= "presentation">
    
        <h3>Objetivo</h3>
        <p>{{userdata.objective1}}</p>
        <p>{{userdata.objective2}}</p>
    </div> 
    
    
</div>
<div id="more">
    <p>Para visualizar os projetos por mim desenvolvidos acesse a aba <a href="projetos.html">Projetos</a>, você tambem pode acessar meu currículo clicando <a href="curriculo.html">Aqui</a>. E para entrar em contato basta clicar em qualquer um dos ícones de contato abaixo.</p>
</div>
<div id="why">
    <h3>Mas porque fazer essa página?</h3>
    <img id="mais" src="img/down-arrow.svg" alt="ver mais" onclick="clicou()">
    <p id="texto"> </p>
    <img id="menos" src="img/up-arrow.svg" alt="fechar" onclick="clicou2()">
</div>
{% endblock %}
