<!DOCTYPE html>
<html>

    <head>
       
        <link rel="stylesheet" href="main.css">

        {% block styles %}{% endblock %}
        <link rel="stylesheet" href="responsive.css">

    </head>

    <body>
        <header>
            <div class= "pages">
                <a href="/">Sobre</a>
                <a href="/projetos">Projetos</a>
                <a href="/curriculo">Currículo</a>
                
                
            </div>
        </header>
        {% block content %}{% endblock %}
        
        <footer>
            <div id= "contacts">
                <h3>Contatos e Redes:</h3>
                {% for i in userdata.web %}
                <a href="{{i.url}}" target="_blank"><img src="{{i.icon}}" alt="{{i.name}}"></a>
                {% endfor %}

            </div>
            
            <div id="tecnologias">   
                <h3>Tecnologias:</h3>
                {% for j in userdata.tec %}   
                <img src="{{j.icon}}" alt="{{j.name}}">
                {% endfor %}
                
                    
                     
            </div>
            
         </footer>
        
        




    </body>
</html>