{% extends "layoutpadrao.njk" %}

{% block styles %}
    <title>Projetos</title>
    <link rel="stylesheet" href="projetos.css">
    <script type="text/javascript" src="/scripts/script.js"> </script>
{% endblock %}

{% block content %}
    <h1>Projetos</h1>

    <section class="projects">
        {% for item in items %}
        <div class="project" id="{{item.id}}" onclick="redir(this)">
            <div class="center">
                <div class="img">
                    <img src="{{item.img}}" alt="Imagem para {{item.title}}">
                </div>
                <div class="title">
                    <h2 >{{item.title}}</h2>
                </div>
            </div>
            
            <div class="tec">
                <h3>Tecnologias:</h3>
                <ul>
                    {% for i in item.tec.split('-') %}
                    <li>{{i}}</li>
                    {% endfor %}
                </ul>
            </div>

        </div>
        {% endfor %}
        
    </section>
{% endblock %}